h1 {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
}
p {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-right: 15PX;
    margin-right: auto;
    margin-left: auto;
}
body {
    background-image: url( ../images/background.png);
}